body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  height: 2000px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: white;
}
@media (max-width: 1200px) {
  header {
    height: 50px;
  }
}

.header-left {
  margin-left: 21px;
}
@media (max-width: 1200px) {
  .header-left {
    margin-left: 0;
  }
}
.header-left a {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 1200px) {
  .header-left a {
    height: 50px;
    padding: 10px;
  }
}
.header-left a img {
  height: 33px;
  width: auto;
}
@media (max-width: 1200px) {
  .header-left a img {
    height: 30px;
  }
}
.header-left a span {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.3;
}
.header-left a span strong {
  font-size: 18px;
}
@media (max-width: 1280px) {
  .header-left a span {
    display: none;
  }
}

.header-right .hamburger-btn {
  display: none;
  font-size: 0;
}
@media (max-width: 1200px) {
  .header-right .hamburger-btn {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
  }
  .header-right .hamburger-btn::before, .header-right .hamburger-btn::after {
    content: "";
    width: 23px;
    height: 2px;
    background: #2498B3;
    position: absolute;
    left: calc(50% - 11.5px);
    display: block;
    transition: transform 0.4s;
  }
  .header-right .hamburger-btn::before {
    top: 15px;
  }
  .header-right .hamburger-btn::after {
    top: 33px;
  }
  .header-right .hamburger-btn > span {
    width: 23px;
    height: 2px;
    font-size: 0;
    background: #2498B3;
    position: absolute;
    left: calc(50% - 11.5px);
    top: calc(50% - 1px);
    transition: transform 0.2s;
  }
  .header-right .hamburger-btn.is-open {
    background: #2498B3;
  }
  .header-right .hamburger-btn.is-open::before {
    background: white;
    transform: rotate(135deg);
    top: 24px;
  }
  .header-right .hamburger-btn.is-open::after {
    background: white;
    transform: rotate(-135deg);
    top: 24px;
  }
  .header-right .hamburger-btn.is-open > span {
    background: none;
  }
}
.header-right .menu {
  display: flex;
  flex-direction: row;
}
.header-right .menu > li {
  position: relative;
}
.header-right .menu > li:hover .sub-menu {
  display: block;
}
.header-right .menu > li > a {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 15px;
}
.header-right .menu > li > a:hover {
  background: #D4F1F8;
}
.header-right .menu > li.special > a {
  color: white;
  background: #2498B3;
}
@media (max-width: 1200px) {
  .header-right .menu {
    display: none;
  }
  .header-right .menu.is-open {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: white;
  }
  .header-right .menu.is-open > li {
    position: relative;
  }
  .header-right .menu.is-open > li > a {
    height: auto;
    padding: 10px;
  }
  .header-right .menu.is-open > li > a:not(.no-sub-menu)::before, .header-right .menu.is-open > li > a:not(.no-sub-menu)::after {
    content: "";
    display: block;
    width: 23px;
    height: 2px;
    background: #000000;
    position: absolute;
    right: 13px;
  }
  .header-right .menu.is-open > li > a:not(.no-sub-menu)::after {
    transform: rotate(90deg);
  }
  .header-right .menu.is-open > li:hover > a {
    position: relative;
  }
  .header-right .menu.is-open > li:hover > a:hover {
    background: #F3FAFB;
  }
  .header-right .menu.is-open > li:hover > a:not(.no-sub-menu)::before {
    z-index: 100;
  }
  .header-right .menu.is-open > li:hover > a:not(.no-sub-menu)::after {
    transform: rotate(0deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: auto;
    background: #F7F7F7;
  }
  .header-right .menu.is-open > li.special > a {
    display: none;
  }
}
.header-right .sub-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
}
.header-right .sub-menu > li {
  background: #E9F8FB;
}
.header-right .sub-menu > li > a {
  display: flex;
  align-items: center;
  padding: 15px 60px 15px 15px;
  white-space: pre;
  font-weight: 400;
}
.header-right .sub-menu > li > a:hover {
  color: #2498B3;
  background: white;
}
@media (max-width: 1200px) {
  .header-right .sub-menu {
    display: none;
    position: static;
  }
  .header-right .sub-menu > li {
    background: white;
  }
  .header-right .sub-menu > li > a {
    padding: 10px 10px 10px 25px;
  }
  .header-right .sub-menu > li > a:hover {
    color: #000000;
    background: #F3FAFB;
  }
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding-top: 80px;
  background-image: url(../img/bg-hero1.png), url(../img/bg-hero2.png), url(../img/bg-hero3.png);
  background-position: center -75px, center -75px, center center;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, fixed;
}
@media (max-width: 1200px) {
  article {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  article {
    background-position: center -30px, center -25px, center -25px;
    padding-top: 163px;
    background-size: 800px, 800px, cover;
  }
}

.main-area1 {
  height: 570px;
}
@media (max-width: 767px) {
  .main-area1 {
    width: 100%;
    height: auto;
  }
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 40px 19px 40px;
  border-radius: 10px;
  background: white;
}
@media (max-width: 767px) {
  .main-card {
    padding: 9px 0 13px;
    border-radius: 0;
  }
}
.main-card img {
  width: 280px;
  height: auto;
}
@media (max-width: 767px) {
  .main-card img {
    display: none;
  }
}
.main-card p {
  margin: 1.3em 0 0.5em;
  text-align: center;
}
@media (max-width: 767px) {
  .main-card p {
    margin: 0.5em 0;
    font-size: 13px;
  }
}
.main-card .main-btn {
  padding: 24px 37px;
  margin: 1.1em 0 0.5em;
  background: #2498B3;
  color: white;
  border-radius: 4px;
  border: solid 1px #C3C3C3;
  font-size: 18px;
  line-height: 1;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .main-card .main-btn {
    margin: 6.5px 0;
    padding: 12px 18px;
    font-size: 16px;
  }
}

.main-area2 {
  position: relative;
  background: #000000;
  padding: 4em 0;
  width: 100%;
  height: 230px;
  color: white;
}
@media (max-width: 767px) {
  .main-area2 {
    height: auto;
  }
}

.sub-card {
  position: absolute;
  width: 100%;
  top: -199px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1078px) {
  .sub-card {
    max-width: 1078px;
  }
}
@media (max-width: 767px) {
  .sub-card {
    position: static;
    flex-direction: column;
    align-items: center;
  }
}
.sub-card .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 229px;
  margin: 0 50px;
}
@media (max-width: 1078px) {
  .sub-card .card {
    width: 29.33%;
    margin: 0 1.7%;
  }
}
@media (max-width: 767px) {
  .sub-card .card {
    width: auto;
    margin: 0 2%;
    margin-bottom: 2.5em;
  }
}
.sub-card .card .circle {
  height: 230px;
  width: 230px;
  background: white;
  border-radius: 50%;
  border: solid 6px #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sub-card .card .circle i {
  font-size: 100px;
  color: #000000;
}
.sub-card .card .card-title {
  margin-top: 4.8px;
  font-size: 24px;
}
.sub-card .card .card-sentence {
  margin-top: 8px;
}
/*# sourceMappingURL=style.css.map */
