// variables
$dbg: 1;
$header-height: 70px;
$header-height-tab: 50px;
$color-white: #FFFF;
$color-black: #000000;
$color-blue1: #2498B3;
$color-blue2: #D4F1F8;
$color-blue3: #E9F8FB;


// mixin
@mixin dbg-border($color: blue, $px: 1, $switch: 1) {
  @if ($switch == 1 and $dbg == 1) {
    outline: #{$px}px solid $color;
    outline-offset: -#{$px}px;
  }
}

@mixin dbg-bgcolor($color: blue, $switch: 1) {
  @if ($switch == 1 and $dbg == 1) {
    background-color: $color;
  }
}

@mixin breakpoint($point) {
  @if $point == sp {
    @media (max-width:767px) { // 横幅が767px以下の時
      @content;
    }
  }
  @if $point == tab {
    @media (max-width:1200px) { // 横幅が1200px以下の時
      @content;
    }
  }
  @if $point == tab-l {
    @media (max-width:1280px) { // 横幅が1280px以下の時
      @content;
    }
  }
}


body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  line-height: 1.7;
  height: 2000px;
}

a {
  color: inherit; // 親のスタイルを継承
  text-decoration: none; // URLリンクの下線を消す
}

li {
  list-style: none; // 点(・)を削除
}


header {
  @include dbg-border(red, 10, 0);
  display: flex; // flexの使用を設定 直下の子要素は全てブロック要素に変更される
  flex-direction: row; // 子要素の並ぶ向きを左からに設定
  justify-content: space-between; // 子要素の横並びの置く位置を設定
  position: fixed; // ヘッダーを固定
  z-index: 500; // 1番上に表示するために他のz-indexより大きい値に設定
  top: 0; // ヘッダー固定位置
  left: 0; // ヘッダー固定位置
  height: $header-height; // fixedは子要素の影響を受けないため設定
  width: 100%; // fixedは子要素の影響を受けないため設定
  background: $color-white;
  @include breakpoint("tab") {
    height: $header-height-tab;
  }

}

.header-left {
  margin-left: 21px;
  @include breakpoint("tab") {
    margin-left: 0;
  }

  a {
    @include dbg-border(blue, 4, 1);
    height: $header-height;
    display: flex; // flexの使用を設定 直下の子要素は全てブロック要素に変更される
    flex-direction: row; // 子要素の並ぶ向きを左からに設定
    align-items: center; // flex-direction: rowなので子要素のタテの間隔や置く位置を設定
    @include breakpoint("tab") {
      height: $header-height-tab;
      padding: 10px;
    }

    img {
      height: 33px; // imgタグはインライン要素だが例外でサイズ指定可能
      width: auto;
      @include breakpoint("tab") {
        height: 30px; // imgタグはインライン要素だが例外でサイズ指定可能
      }
    }

    span {
      margin-left: 16px;
      font-size: 14px;
      font-weight: 900;
      line-height: 1.3;

      strong {
        font-size: 18px;
      }
      @include breakpoint("tab-l") {
        display: none;
      }
    }

  }

}

.header-right {
  @include dbg-border(blue, 4, 1);

  .hamburger-btn {
    @include dbg-bgcolor(red, 1);
    display: none;
    font-size: 0;
      @include breakpoint("tab") {
        display: block;
        width: 50px;
        height: 50px;
        //position: relative;
      }
  }


  .menu {
    display: flex; // flexの使用を設定 直下の子要素は全てブロック要素に変更される
    flex-direction: row; // 子要素の並ぶ向きを左からに設定

    > li {
      position: relative; // sub-menuの表示位置設定用
      @include dbg-border(blue, 6, 0);

      &:hover .sub-menu {
        display: block; // sub-menuを表示
      }

      > a {
        @include dbg-border(blue, 6, 0);
        display: flex; // テキスト上下中央寄せのためにflexを使用
        align-items: center; // テキスト上下中央揃え
        height: $header-height; // 高さ必須 display: flexでインライン要素でなくなったため指定可能
        padding: 0 15px;

        &:hover {
          background: $color-blue2;
        }
      }
    }

    > li.special {
      > a {
        @include dbg-border(blue, 4, 0);
        color: $color-white;
        background: $color-blue1; // 詳細度が高いのでhoverしても$color-blue2にならない
      }
    }

    @include breakpoint("tab") {
      @include dbg-border(red, 3, 0);
      display: none;
    }
  }

  .sub-menu {
    display: none; // sub-menuを非表示
    position: absolute; // 親要素に指定したrelativeを基準に表示位置を設定
    top: $header-height; // absoluteの表示位置調整
    left: 0; // absoluteの表示位置調整

    > li {
      background: $color-blue3;
      @include dbg-border(red, 3, 0);

      > a {
        @include dbg-border(black, 1, 0);
        display: flex; // テキスト上下中央寄せのためにflexを使用
        align-items: center; // テキスト上下中央揃え
        padding: 15px 60px 15px 15px;
        white-space: pre; // 自動改行を無効
        font-weight: 400;

        &:hover {
          color: $color-blue1;
          background: $color-white;
        }
      }
    }
  }

}


article {
  @include dbg-border(blue, 10, 0);
  display: flex; // flexの使用を設定 直下の子要素は全てブロック要素に変更される
  flex-direction: column; // 子要素の並ぶ向きを左からに設定
  align-items: center; // 子要素の横並びの置く位置を設定
  margin-top: $header-height; // 外側の余白
  padding-top: 80px; // 内側の余白
  background-image: url(../img/bg-hero1.png),url(../img/bg-hero2.png),url(../img/bg-hero3.png);
  background-position: center -75px, center -75px, center center;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, fixed;

  @include breakpoint("tab") {
    margin-top: $header-height-tab;
  }
}


.main-area1 {
  @include dbg-border(pink, 8, 0);
  height: 570px;
}


.main-card {
  @include dbg-border(red, 15, 0);
  display: flex; // flexの使用を設定 直下の子要素は全てブロック要素に変更される
  flex-direction: column; // 子要素の並ぶ向きを左からに設定
  align-items: center; // 子要素の横並びの置く位置を設定
  padding: 43px 40px 19px 40px;
  border-radius: 10px;
  background: $color-white;

  img {
    width: 280px;
    height: auto;
  }

  p {
    margin: 1.3em 0 0.5em;
    text-align: center;
  }

  .main-btn {
    padding: 24px 37px;
    margin: 1.1em 0 0.5em;
    background: $color-blue1;
    color: $color-white;
    border-radius: 4px;
    border: solid 1px #C3C3C3;
    font-size: 18px;
    line-height: 1.0;
  }

}

.main-area2 {
  @include dbg-border(yellow, 8, 0);
  position: relative;  // sub-cardの表示位置設定用
  background: $color-black;
  padding: 4em 0;
  width: 100%;
  height: 230px;;
  color: $color-white;
}


.sub-card {
  @include dbg-border(blue, 7, 0);
  position: absolute;  // 親要素に指定したrelativeを基準に表示位置を設定
  z-index: 100; // headerのz-indexより低い値に設定する
  width: 100%; // absoluteは子要素の影響を受けなくなるため設定
  top: -199px; // absoluteは子要素の影響を受けなくなるため設定
  display: flex; // flexの使用を設定 直下の子要素は全てブロック要素に変更される
  flex-direction: row; // 子要素の並ぶ向きを左からに設定
  justify-content: center; // 子要素の横並びの置く位置を設定

  .card {
    @include dbg-border(red, 4, 0);
    display: flex; // flexの使用を設定 直下の子要素は全てブロック要素に変更される
    flex-direction: column; // 子要素の並ぶ向きを左からに設定
    align-items: center; // 子要素の横並びの置く位置を設定
    width: 229px;
    margin: 0 50px;

    .circle {
      height: 230px;
      width: 230px;
      background: $color-white;
      border-radius: 50%;
      border: solid 6px $color-black;

      display: flex; // flexの使用を設定 直下の子要素は全てブロック要素に変更される
      flex-direction: row; // 子要素の並ぶ向きを左からに設定
      justify-content: center; // 子要素の横並びの置く位置を設定
      align-items: center; // 子要素の縦並びの置く位置を設定

      i {
        font-size: 100px;
        color: $color-black;
      }
    }

    .card-title {
      @include dbg-border(yellow, 4, 0);
      margin-top: 4.8px;
      font-size: 24px;
    }

    .card-sentence {
      margin-top: 8px;
    }
  }

}



