// variables
$dbg: 0;

// mixin
@mixin dbg-border($color: blue, $dbg: 1) {
  @if ($dbg == 1) {
    outline: 1px solid $color;
    outline-offset: -1px;
  }
}

@mixin dbg-bgcolor($color: blue, $dbg: 1) {
  @if ($dbg == 1) {
    background-color: $color;
  }
}


a {
  color: inherit; // 親のスタイルを継承
  text-decoration: none; // URLリンクの下線を消す
}

li {
  list-style: none; // 点(・)を削除
}

img {
  width: 100%; // 親要素の横幅に合わせる imgタグはインライン要素だが特別にサイズ指定できる
}


